pre-reading_papers
hellosumo
programs
Intellilight-Code
other papers
papers overview.pdf
sumo_rl_tsc_workflow.svg
research_topics.pdf
temp_images
others_code
literature
gym_practice
# ignore presentation (includes too many images)
presentation/*
# ignore some files
*.zip
*.pdf
*.doc
*.docx
*.pptx
misc/*
latex-template-cgv/*
src/gym_intro/*
.venv
# includsions of otherwise ignored files
!presentation/RL TSC presentation_SJ_TUD2023.pdf